html{
	font-family: 'Noto Sans JP', sans-serif;
}
html, body, #main{
	height: 100%;
}

.nomargin{
	margin: 0;
	padding: 0;
	line-height: 0;
	overflow: hidden;
}
.noscrollbar{
	overflow: hidden;
}

#main{
	display: flex;
}
#menu{
	width: 200px;
	height: 100%;
	flex: 0 1 auto;
	overflow: hidden;
	border: none;
	background: #f0efff;
}
#contents{
	width: 100%;
	height: 100%;
	flex: 1 1 auto;
	overflow: scroll;
	border: none;
}